body {
  background: url(bubble_wallpaper_simple_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  padding: 50px 20px 20px 20px;
}


.Editor {
 opacity: 0.9;
 background-color: #CB7076;
 border: 2px solid;
 resize:vertical;
 display:block;
}

.Editor.half {
  width: 47%;
  float: left;
  height: 566px;
//  width: 40em;
}

.Editor.full {
  width: 100%;
  float: left;
  height: 566px;
//  width: 40em;
}
.Editor.min {
  width: 100%;
  float: left;
  height: 3px;
//  width: 40em;
}

.Previewer {
  margin-left: 53%;
  background-color: #774A69 !important;
  padding: 10px;
  opacity: 0.9;
  border: 2px solid;
  max-height: 566px;
  overflow: auto;
}
.label {
  display:block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
//    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
